/* Menambahkan warna pada ikon */
.whatsapp-icon {
    color: #25d366;
  }
  
  .email-icon {
    color: #007bff;
  }
  
  /* Mengatur ukuran dan jarak antar ikon */
  .navbar .whatsapp-icon,
  .navbar .email-icon {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Menambahkan animasi ketika cursor diarahkan pada ikon */
  .navbar .whatsapp-icon:hover,
  .navbar .email-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
  