* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
}

.tengah {
  text-align: center;
  width: 100%;
}

.img {
  width: 700px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 20px;
  background-color: #00cba9;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 50px;
  align-items: center;
  font-family: "comic sans ms";
}

.deskripsi {
  width: 700px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
  display: block;
}

.logoShop {
  width: 700px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
  display: block;
}

.wrapperKonten {
  width: 700px;
  margin: auto;
  position: relative;
}
.logoKonten {
  width: 100px;
  margin: auto;
  background: #00cba9;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.logoKonten1 {
  width: 150px;
  margin: auto;
  background: #00cba9;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.menuKonten {
  display: flex;
  flex-direction: row;
}
