* header,
* {
  text-decoration: none;
  margin: 0px;
  padding: 00px;
}

body {
  margin: 0px;
  padding: 0px;
<<<<<<< main
  font-family: 'Open Sans', sans-serif;
=======
  font-family: "Open Sans", sans-serif;
>>>>>>> memperbaiki isi
  background-color: #ffffff;
}

.wrapper {
  width: auto;
  margin: auto;
  position: relative;
<<<<<<< main
}

.wrapper1 {
  width: auto;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 10px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #829460;
}

.menu {
  float: left;
  background-color: #00cba9;
  align-items: center;
  display: flex;
}

nav {
  width: 100%;
  margin: auto;
  display: inline-block;
  background-color: #00cba9;
  line-height: 60px;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #ccd6a6;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.profil {
  display: flex;
  margin: auto;
}

=======
}

.wrapper1 {
  width: auto;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 10px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #829460;
}

.menu {
  float: left;
  background-color: #00cba9;
  align-items: center;
  display: flex;
}
a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #ccd6a6;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.profil {
  display: flex;
  margin: auto;
}

>>>>>>> memperbaiki isi
.status {
  display: flex;
  margin-bottom: 10px;
}

.status p {
  margin-right: 20px;
  font-weight: bold;
}

.profil img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}

.profil h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profil p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.btn-edit {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #3897f0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kartu-tutor {
    width: 50%;
  }

  .kartu-partner {
    width: 50%;
  }
}
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00cba9;
}

<<<<<<< main
input[type='text'] {
=======
input[type="text"] {
>>>>>>> memperbaiki isi
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

<<<<<<< main
button[type='submit'] {
=======
button[type="submit"] {
>>>>>>> memperbaiki isi
  background-color: #3f72af;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}
